body {
  margin: 0;
background-color: var(--bg-color);
color: var(--white);
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --bg-color: #010208;
   --white: #fff;
   --card-bg: rgba(203, 203, 203, 0.48);
}




